<%- include('./../partials/headerA') -%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ADMIN</title>
        <link rel="stylesheet" href="./../../css/admin.css">
    </head>

    <body>

        
        <main class="main container">
            <div class="container_search">
                <label for="buscar"><img src="./../../img/icons/search_icon.svg"  alt="icono lupa-buscar"
                        class="icon_search" /></label>
                <input type="text" id="buscar" size="100" placeholder="  código, nombre o categoría" />
            </div>
            <div class="container_title">
                <h2 class="admin_title">LISTADO DE PRODUCTOS</h2>
                <div class="admin_agregar">
                    <p class="admin_add">AGREGAR</p>
                    <a href="/admin/create"><button class="admin_button" >+</button></a>
                    
                </div>
            </div>
            <div class="admin__table">
                <div class="admin__table-header">
                    <h3>ID</h3>
                    <h3>Codigo</h3>
                    <h3>Nombre del Producto</h3>
                    <h3>Categoria</h3>
                </div>
                <% data.forEach(item => { %> 
                <article class="admin__table-row">
                    <p><%=item.product_id%></p>
                    <p><%=item.product_sku%></p>
                    <p><%=item.product_name%></p>
                    <p><%=item.licence_name%></p>
                    <a href="admin/edit"><iconify-icon icon="mdi:pencil" style="color: #1d84b5;"></iconify-icon></a>
                    <a type="submit"><iconify-icon icon="heroicons-solid:trash" style="color: #f33;"></iconify-icon></a>
                </article>
                
            </div>
               
                
        </main>

        <%- include('./../partials/footerA') -%>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    </body>

</html>